@import url('https://fonts.googleapis.com/css?family=Inter');
body{
  font-family: 'inter';
}

.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 60px; 
    background-color: #fff; 
    
    z-index: 1000; 
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    justify-content: center;
}
.info-container > div {
  flex: 1 1 300px;
  padding: 10px;
  border: 1px solid #e63946;
  border-radius: 8px;
  background: #fff8f0;
  text-align: center;
}

.info-container h2 {
  color: #521D16;
  margin-bottom: 10px;
}

.info-container p {
  margin: 5px 0;
  color: #555;
}