@import url('https://fonts.googleapis.com/css?family=Inter');
.header {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 60px; 
    background-color: #fff; 
    
    z-index: 1000; 
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    justify-content: center;
}
.btns{
    padding-top: 80px;
    justify-content:center;
    display: flex;
    gap: 80px;
}
h1{
    color: red;
    font-size: 45px;
    font-weight: 800;
    text-align:center ;
}