@import url('https://fonts.googleapis.com/css?family=Inter');
p{
    font-family: 'inter',sans-serif;
    font-weight: 590;
    font-size: 20px;
    color: #000000;
}
h1{
    font-family: 'inter',sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #521D16;
}
h2{
    font-family: 'inter',sans-serif;
    font-weight:normal;
    font-size: 25px;
    color: #000000;
}