<app-header class="header"></app-header>

<div class="contact-container">
    
    
    <div class="contact-info">
      <h2>Informações de Contato</h2>
      <p><strong>Endereço:</strong> Rua dos Sabores, 123, Centro - São Paulo, SP</p>
      <p><strong>Telefone:</strong> (11) 98765-4321</p>
      <p><strong>E-mail:</strong> <a href="mailto:contato@burguermania.com.br">E-mail</a></p>
      <p><strong>Horário de Funcionamento:</strong> Segunda a Sexta: 10h - 22h | Sábado e Domingo: 12h - 23h</p>
    </div>
    
    <form>
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" placeholder="Digite seu nome" required />
      
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required />
      
      <label for="phone">Telefone:</label>
      <input type="tel" id="phone" name="phone" placeholder="(XX) XXXXX-XXXX" />
      
      <label for="subject">Assunto:</label>
      <input type="text" id="subject" name="subject" placeholder="Qual o motivo do contato?" required />
      
      <label for="message">Mensagem:</label>
      <textarea id="message" name="message" rows="4" placeholder="Escreva sua mensagem aqui..." required></textarea>
      
      <button type="submit">Enviar</button>
    </form>
  </div>
  